node_modules/
src/
next/
react/
*.ts
*.tsx
tsconfig.json
tsup.config.ts
tsconfig.tsbuildinfo
*.tsbuildinfo
*.log
.env
.vscode/
.idea/
.DS_Store
tests/
__tests__/
coverage/
*.map
.git/
.github/
.npmignore
.gitignore
